[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
general_log_file = /var/log/mariadb/query.log
general_log = 1
[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
general_log_file = /var/log/mariadb/query.log
general_log = 1

# include all files from the config directory
#
!includedir /etc/my.cnf.d
